<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mainactivity">

    <uses-permission android:name="android.permission.INTERNET" />
    -
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="Laugh and Love"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="">
        -
        <activity
            android:name=".MainActivity"
            android:label="Laugh and Love"
            android:noHistory="true">
            -
        </activity>
        <activity android:name=".Messages" />
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".StartActivity" />
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".StartActivity" />
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ChatsActivity"></activity>
    </application>

</manifest>